* {
  margin: 0;
  padding: 0;
  list-style: none;
  /* outline: 1px solid red; */
  font-family: 'Proxima Nova';
}

*, *::after, *::before {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;
  background-color:#E5E5E5;;
}

.container {
  max-width: 1440px;
  margin: auto;
}